<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="hu.renesans.eredmenyek">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".EredmenyekApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="DATABASE"
            android:value="eredmenyek.db"/>
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="hu.renesans.eredmenyek.model.database"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c7f522884263341d88e872617be97059e32088f7"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.matches.MatchesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.details.DetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
